body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2eadb; 
}

h1 {
    color: #493e2d;
    text-align: center;
    margin-top: 30px;
}

h3 {
    color: #635241;
    text-align: center;
    margin: 20px 0;
}

h4 {
    color: #5c4f39; 
    text-align: left;
    max-width: 800px;
    margin: 0 20px 30px 20px;
}

p {
    color: #7d7260;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 30px;
}

ul, ol {
    color: #7d7260; 
    text-align: left;
    max-width: 800px;
    margin: 0 20px 30px 20px;
}

img {
    display: block;
    margin: 20px auto; 
    max-width: 100%;
    height: auto;
    border-radius: 15px; 
}

.img-box {
    border: 0.5px solid #4f4333;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    margin: 10px auto;
    padding: 20px;
    border: 0.5px solid #4f4333;
    border-radius: 20px;
}

div div {
    margin-bottom: 20px;
}

.about-us {
    max-width: 900px;
    margin: 10px auto;
    padding: 20px;
    border: 0.5px solid #4f4333;
    border-radius: 20px;
}

.ingredients-container, .instructions-container, .description {
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    border: 0.5px solid #4f4333;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

button {
    background-color: #716146;
    color: #f2eadb;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #4f4333;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9f8666; 
}


#next-recipe {
    position: -webkit-sticky;
    bottom: 10px;
    right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#prev-recipe {
    position: -webkit-sticky;
    bottom: 10px;
    left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#home {
    position: -webkit-sticky;
    top: 10px;
    left: 10px;
    margin-left: 10px;
    margin-top: 10px;
}






